<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.springboot.mapper.CharacterMapper">
    <insert id="insertCharacter">
        INSERT INTO characters (user_id, name, biography, avatar_url, fans_count, follow_count)
        SELECT #{userId}, username, '', '', 0, 0
        FROM users WHERE id = #{userId}
    </insert>

    <update id="updateCharacter">
        UPDATE characters
        SET name = #{name}, biography = #{biography}, avatar_url = #{avatarUrl}
        WHERE user_id = #{userId}
    </update>

    <select id="getCharacterById" resultType="org.example.springboot.pojo.Character">
        SELECT * FROM characters WHERE user_id = #{userId}
    </select>
</mapper>
