<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.springboot.mapper.PostMapper">

    <insert id="insertPost">
        INSERT INTO posts (user_id,title, content, created_at,updated_at,image_url,status)
        VALUES (#{userId}, #{title}, #{content}, #{createdAt}, #{updatedAt},#{imageUrl},#{status})
    </insert>

    <update id="updatePost">
        UPDATE posts
        SET title = #{title}, content = #{content}
        WHERE id = #{id}
    </update>

    <select id="getPostById" resultType="org.example.springboot.pojo.Post">
        SELECT * FROM posts WHERE id=#{id}
    </select>

    <select id="getAllPosts" resultType="org.example.springboot.pojo.Post">
        SELECT * FROM posts WHERE is_deleted = 0 AND allow = 1 ORDER BY created_at DESC
    </select>

    <select id="getPosts" resultType="org.example.springboot.pojo.Post">
        SELECT * FROM posts WHERE status=#{status} AND is_deleted = 0 AND allow = 1 ORDER BY created_at DESC
    </select>

    <select id="adminGetAllPosts" resultType="org.example.springboot.pojo.Post">
        SELECT * FROM posts
        WHERE is_deleted = 0
        <if test="title != null and title != ''">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="allow != null">
            AND allow = #{allow}
        </if>
        ORDER BY created_at DESC
    </select>

    <update id="updatePostAllow">
        UPDATE posts
        SET allow = #{allow}
        WHERE id = #{id}
    </update>

    <update id="deletePost">
        UPDATE posts
        SET is_deleted = 1
        WHERE id = #{id}
    </update>

    <update id="incrementLikesCount">
        UPDATE posts
        SET likes_count = likes_count + 1
        WHERE id = #{id}
    </update>

    <update id="decrementLikesCount">
        UPDATE posts
        SET likes_count = likes_count - 1
        WHERE id = #{id}
    </update>
    <update id="incrementFavoritesCount">
        UPDATE posts
        SET favorites_count = favorites_count + 1
        WHERE id = #{id}
    </update>
    <update id="decrementFavoritesCount">
        UPDATE posts
        SET favorites_count = favorites_count - 1
        WHERE id = #{id}
    </update>
    <update id="incrementCommentsCount">
        UPDATE posts
        SET comments_count = comments_count + 1
        WHERE id = #{id}
    </update>
    <update id="decrementCommentsCount">
        UPDATE posts
        SET comments_count = comments_count - 1
        WHERE id = #{id}
    </update>
</mapper>